body {
	width: 100%;
	max-width: 1024px;
	margin: 0 auto;
	background-color: rgb(30, 76, 202);
	font-size: 62.5%;
}
#needAnID {
    color: red;
}
header,
main,
footer {
	background-color: rgb(240, 235, 241);
	font-size: 1.6em;
}

header {
	padding: 1.875em 0;
}

header h1 {
	text-align: center;
}

h1, h2 {
	margin: 0;
}

h1 {
	font-size: 2.5em;
}

main h2 {
	padding: 0.625em 0 0.625em 0.625em;
}

section {
	margin: 1.875em 0;
}

section:first-child {
	margin-top: 0;
}

section:last-child {
	margin-bottom: 0;
}

nav ol {
	text-align: center;
	padding: 0;
}

nav ol li {
	display: contents;
	margin-right: 1em;
	font-size: 1em;
}

p {
	padding: 1.25em;
}

figure {
	margin: 0;
	padding: 0;
	text-align: center;
}

figcaption {
	font-style: italic;
}

footer {
	text-align: center;
	padding: 3em;
}

img {
	width: 100%;
    max-width: 100%;
}
img.flipped {
    image-orientation: from-image;
}
@media screen and (max-width: 680px) {
	nav ol li {
		margin: 1em 0;
		display: block;
		font-size: 1em;
	}
	body {
		font-size: 50%;
	}
}